@font-face {
  font-family: "Horizon";
  src: url("/EchoHorizonModern-nADZg.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

p,
a {
  margin: 0;
}

#stars {
  opacity: 0;
  transition: opacity 2s ease;
}

#main {
  display: block;
  padding-top: 20px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  /* background: linear-gradient(135deg, #0b1e4f, #050514, #2c1241, #2e1047); */
  /* background: linear-gradient(135deg, #2c1241, #250a64, #0a5468); */
  background: linear-gradient(135deg, #e74545, #772c71, #331972, #1c83a0);
  background-size: 400% 400%;
  animation: gradientMove 20s ease infinite;
  opacity: 0.8;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#top {
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-right: 3px solid rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 100px;
  display: flex;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  /* transform: translate(-6%); */
  transform: scaleX(0) scaleY(0.3) translate(0, 5%);
  transform-origin: left;
  transition: transform 1.3s ease-in-out;
}

@keyframes navbarGlow {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  60% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
      0 0 40px rgba(0, 200, 255, 0.4);
  }
  80% {
    box-shadow: -10px -10px 20px rgba(224, 188, 24, 0.6),
      0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(0, 200, 255, 0.4);
  }
  100% {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  }
}

@keyframes navbarGlow-reverse {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  30% {
    box-shadow: -10px -10px 20px rgba(224, 188, 24, 0.6),
      0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(0, 200, 255, 0.4);
  }
  60% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
      0 0 40px rgba(0, 200, 255, 0.4);
  }
  100% {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  }
}

#top.show {
  transform: scaleX(1) scaleY(1);
  opacity: 1;
}

#top.show.animation {
  animation: navbarGlow 1.2s ease-out;
}

#top.hide {
  transform: scaleX(0) scaleY(0.3) translate(0, 5%);
}

#top.hide.animation {
  animation: navbarGlow-reverse 1.2s ease-in;
}

.nav-container {
  flex: 4;
  display: flex;
  margin: 15px 20px 20px 20px;
  justify-content: center;
}

.contact-container {
  flex: 2;
  display: flex;
  margin: 15px 30px 20px 0;
  justify-content: right;
}

.elevated-button {
  background-color: rgba(255, 255, 255, 0.227);
  color: rgb(255, 255, 255);
  height: 50px;
  border: none;
  margin: 10px 30px 10px;
  font-size: 2.6em;
  font-family: "Horizon";
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  z-index: 1;
  flex: 1;
}

.elevated-button > p {
  /* transform: skew(40deg); */
  position: relative;
  top: 2px;
  right: 2px;
  flex: 1;
  /* left: 90px;
    bottom: 8px; */
}

.elevated-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  animation: button-glow 0.5s infinite;
}

@keyframes button-glow {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
      0 0 30px rgba(0, 200, 255, 0.4);
  }
  15% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
      0 0 30px 10px rgba(0, 200, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
      0 0 40px 20px rgba(0, 200, 255, 0.5);
  }
  85% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
      0 0 30px 10px rgba(0, 200, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
      0 0 30px rgba(0, 200, 255, 0.4);
  }
}

.logo {
  background-color: rgba(255, 255, 255, 0.227);
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 50px;
  flex: 0 0 auto;
  margin: 10px 20px 10px;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: white;
  font-size: 100px;
  margin: 0;
}

#name {
  color: white;
  font-size: 7rem;
  position: absolute;
  text-align: right;
  right: -100%;
  bottom: 10%;
  padding: 0;
}

#name h3 {
  margin: 0 0 0 20px;
  font-family: "Horizon";
  text-align: right;
}
#name p {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}

#name.name-anim {
  right: 10%;
  animation: float-in 2s ease-out forwards, hover 3s ease-in-out infinite;
}

@keyframes float-in {
  0% {
    right: -50%;
    bottom: 10%;
  }
  100% {
    right: 10%;
    bottom: 10%;
  }
}

@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0px);
  }
}

.page-header {
  font-family: "Horizon";
  color: white;
  font-size: 4rem;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  animation: hover 3s ease-in-out infinite;
}
.page-header h3 {
  margin: 0;
  margin-top: 30px;
}

.body-container {
  padding-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.text-container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  backdrop-filter: blur(3px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-right: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
}

.skills-container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  backdrop-filter: blur(3px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-right: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 10px;
  max-width: 1000px;
}

.content-container {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 20px;
}

.img-container {
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-right: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  width: 300px;
  min-width: 300px;
  max-height: 400px;
  height: auto;
}

.img-container img {
  object-fit: contain;
  align-self: flex-end;
  width: 100%;
  height: 100%;
}

.spotify-container {
  margin-left: 20px;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-right: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  display: block;
  text-wrap: wrap;
  max-width: 300px;
  max-height: 400px;
  height: auto;
}

.now-playing {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Horizon";
  text-wrap: wrap;
  overflow: hidden;
}

.spotify-image {
  filter: brightness(100%);
  transition: filter 0.3s;
}

.spotify-image:hover {
  filter: brightness(50%);
}

.now-playing h1 {
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.now-playing a {
  margin: 0;
  width: 60%;
  height: 60%;
}

.now-playing img {
  margin: 0;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.438);
  width: 100%;
  height: 100%;
}

.now-playing p {
  margin: 10px 20px 10px 20px;
  font-family: Courier New, Courier, monospace;
}

.skill {
  background-color: rgba(255, 255, 255, 0.227);
  border-radius: 50px;
  max-height: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skill-badge {
  background: linear-gradient(135deg, #e74545, #772c71, #331972, #1c83a0);
  border-radius: 50%;
  flex: 1;
  height: 20px;
  width: 20px;
}

.resume-link {
  text-decoration: none;
  color: white;
  transition: text-decoration 3s ease-in;
}

.resume-link-underline {
  background-color: white;
  height: 2px;
  width: 375px;
  border-radius: 20px;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.resume-link:hover ~ .resume-link-underline {
  transform: scaleX(1);
}

.projects-container {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  /* overflow: hidden; */
  display: flex;
  min-width: 90%;
  padding-top: 20px;
}

.description-container {
  flex-basis: 60%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  backdrop-filter: blur(3px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-right: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  overflow-y: auto;
  max-height: 350px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  margin-bottom: 20px;
  transition: opacity 1s ease;
}

.project-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
}

.project-container {
  flex: 1;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.7rem;
  font-family: "Courier New", Courier, monospace;
  backdrop-filter: blur(3px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-right: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
  /* max-height: 40px; */
  min-height: 80px;
  max-height: 80px;
}

.project-img {
  float: right;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 50%;
}

.project-container > p {
  font-weight: bold;
  justify-self: center;
  margin-top: 5px;
}

.project-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  animation: project-glow 0.5s infinite;
}

@keyframes project-glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
      0 0 15px rgba(0, 200, 255, 0.4);
  }
  15% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
      0 0 15px 5px rgba(0, 200, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
      0 0 20px 10px rgba(0, 200, 255, 0.5);
  }
  85% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
      0 0 15px 5px rgba(0, 200, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
      0 0 15px rgba(0, 200, 255, 0.4);
  }
}

.footer {
  position: relative;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

@media (max-width: 1600px) {
  .project-container {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  body {
    overflow-y: auto;
  }

  .content-container {
    align-items: stretch;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
    "one three"
    "two two";
  }

  .img-container, .spotify-container {
    float: none;
    height: auto;
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0;
    max-width: 300px;
    min-height: 330px;
  }

  .img-container {
    grid-area: one;
    justify-self: end;
    margin-left: 20px;
  }

  .skills-container { 
    grid-area: two; 
    margin-left: 20px;
    margin-right: 20px;
  }

  .skill {
    font-size: 20px;
  }

  .spotify-container {
    grid-area: three;
    justify-self: "start";
    margin-right: 20px;
    height: fit-content;
  }

  .now-playing h1 {
    font-size: 1.5rem;
  }

  .img-container img {
    object-fit: contain;
    width: 100%;
  }

  .text-container {
    clear: both;
    margin: 20px 20px 20px 20px;
    height: auto;
    max-height: none;
  }

  .resume-link:hover {
    transition: none;
  }

  .resume-link-underline {
    opacity: 0;
  }

  .body-container {
    position: relative;
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* GLOBAL */
  body {
    overflow-y: auto;
  }

  canvas {
    position: fixed;
  }

  /* NAVBAR */
  #top {
    height: auto;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .page-header > h3 {
    font-size: 2.5rem;
    margin: 0;
    margin-top: 15px;
  }

  .elevated-button {
    font-size: 1.4rem;
    height: 44px;
    max-width: 150px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
  }

  .nav-container,
  .contact-container {
    flex: none;
    justify-content: center;
    margin: 5px 0;
    flex-wrap: wrap;
  }

  .contact-container {
    margin-top: 0
  }

  .logo {
    padding: 0;
    margin: 6px;
    width: 36px;
    height: 36px;
  }


  /* HERO NAME */
  #name {
    right: -200%;
    text-align: right;
    margin: 0;
  }

  #name h3 {
    font-size: 4rem;
    margin: 0;
  }

  #name p {
    margin-left: 25%;
  }

  #name.name-anim {
    right: 0%;
    animation: float-in 2s ease-out forwards, hover 3s ease-in-out infinite;
  }

  @keyframes float-in {
    0% {
      right: -100%;
      bottom: 10%;
    }
    100% {
      right: 10%;
      bottom: 10%;
    }
  }

  /* MAIN CONTENT */

  .description-container {
    overflow-y: auto;
    max-height: none;
  }

  .description-container h2 {
    font-size: 1.5rem;
  }

  .description-container p {
    font-size: 0.9rem;
  }

  .project-img {
    width: 100px;
    height: 100px;
  }

  .description-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .img-container, .spotify-container {
    max-width: 200px;
    min-height: 225px;
  }

  .text-container {
    font-size: 15px;
  }

  .now-playing {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Horizon";
    text-wrap: wrap;
    overflow: hidden;
  } 

  .now-playing h1 {
    font-size: 1rem;
  }

  .now-playing a {
    width: 60%;
    height: 60%;
  }

  .now-playing p {
    margin-left: 10%;
    margin-top: 0;
    font-size: 0.7rem;
  }

  .skill {
    font-size: 15px;
    padding: 5px;
    padding-right: 10px;
  }

  .skill-badge {
    height: 10px;
    width: 10px;
  }

  /* PROJECTS */
  .projects-container {
    flex-direction: column;
    padding: 0;
    margin-top: 15px;
  }

  .project-list-container {
    margin-left: 0;
    margin-top: 0;
  }

  .project-container {
    font-size: 1.2rem;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 80px;
  }

  /* FOOTER */
  .footer {
    position: relative;
    margin-top: 40px;
  }

  /* DISABLE HOVER-ONLY ANIMATIONS */
  .elevated-button:hover,
  .project-container:hover {
    transform: none;
    animation: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .spotify-image:hover {
    filter: none;
  }
}

@media(max-width: 620px) {
  .now-playing a {
    width: 50%;
    height: 50%;
  }

  .img-container, .spotify-container {
    max-width: 150px;
    min-height: 175px;
  }

  .now-playing p {
    font-size: 0.5rem;
  }

  .skill {
    font-size: 0.8rem;
  }
}

@media(max-width: 400px) {
  .now-playing a {
    width: 40%;
    height: 40%;
  }

  .now-playing p {
    font-size: 0.5rem;
  }
}