.intro-text {
    text-align: center;
    color: white;
    font-size: 7rem;
    font-family: "Horizon";
    transition: opacity 0.5s ease, transform 1.2s ease;
}

.start {
    opacity: 0;
    transform: scale(0.8);
}

.show {
    opacity: 1;
    transform: scale(1);
}

.explode {
    opacity: 0;
    transform: scale(6);
}