.marquee-container {
  width: 260px;
  height: 40px;
  margin: 0;  
  margin-left: 20px;
  margin-right: 20px;     
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: inline-flex;
  gap: 2rem;              
}

.marquee-content span {
  display: inline-block;
}

.scroll {
  animation: marquee 10s linear infinite;
}

.scroll:hover {
  animation-play-state: paused; 
}

/* Keyframes for smooth infinite loop */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
