.marquee-container {
  width: 260px;
  height: 40px;
  margin: 0;  
  margin-left: 20px;
  margin-right: 20px;     
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: inline-flex;
  gap: 2rem;              
}

.marquee-content span {
  display: inline-block;
}

.scroll {
  animation: marquee 10s linear infinite;
}

.scroll:hover {
  animation-play-state: paused; 
}

/* Keyframes for smooth infinite loop */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-55%);
  }
}

@media (max-width: 768px) {
  .marquee-container {
    width: 80%;
    height: 40px;
    margin: 0;  
    margin-left: 10%;
    margin-right: 10%;     
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 0.8rem;
  }
}